body {
    background-color: #a8a3a3;
    
}

header {
    width: 100%;
    background-color: rgb(87, 73, 73);
    color: beige;
    text-align: center;
    
}



.red {
    color: red;
    
}

main {

    /* Não deixa o elemento os elemento sair do card*/
    width: 80%;
    margin: 0 auto; /* Alinhamento */
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;  /* quebra o elemento*/
    justify-content: space-evenly;
    gap: 20px; /* Espaço entre cada card*/
    
}

.card {

    flex-basis: 250px; /* Não deixa o elemento os elemento sair do card*/
    max-width: 350px; /* Não deixa o elemento os elemento sair do card*/
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column; /* Muda a direção*/
    justify-content: space-between;
    border-radius: 10px;
}


.card img {
    border-radius: 10px;
    width: 100%;
}

@media (max-width: 600px) {

    main {
        width: 95%;
    }
}


