* {
    padding: 0;
    margin: 0;
    font-family: Georgia;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
    transition: 0.4s;
}

a:hover {
    color: #37a1f7;
}

/* Navbar */

#navbar {
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #ddd;
}

#navbar-inner {
    display: flex;
    justify-content: space-between;
    align-self: center;
    max-width: 1200px;
    margin: 0 auto;
}

#nav-links {
    display: flex;
    gap: 1rem;
}

/* Conteudo principal */

.container {
    display: flex;
    gap: 3rem;
    padding: 2rem 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

#posts-container {
    flex: 3 1 0;
}

.post {
    margin-bottom: 2.5rem;
}

.post img {
    width: 100%;
    margin-bottom: 1rem;
}

.title, .description, .author {
    margin-bottom: 1rem;
}

.title {
    font-size: 2rem;
}

.author {
    font-weight: bold;
    color: #333;
}

/* Barra lateral */

#sidebar {
    flex: 1 1 0;
}

#search-bar, #categories, #tags {
    padding: 1.5rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
} 

#search-bar h4, #categories h4, #tags h4 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

#search-bar form {
    display: flex;
}

#search-bar input {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
}

#search-bar input[type="submit"] {
    cursor: pointer;
    background-color: #37a1f7;
    color: #fff;
    border: none;
}

#categories li {
    margin-bottom: 1rem;
}

#tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#tags-container a {
    background-color: #ddd;
    padding: 0.5rem 0.7rem;
    border-radius: 0.3rem;
}

/* Rodapé */

#footer {
    border-top: 2px solid #ddd;
    padding: 3rem;
    text-align: center;
}

#footer h2, #footer p {
    margin-bottom: 1rem;
}

/* Responsivo */

@media(max-width: 450px){
    .container {
        flex-wrap: wrap;
    }
}

/* estilo modal */

.modal {
    background-color: black;
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 1;
}

.modalContent {
    background-color: #eee;
    margin: auto;
    padding: 28px;
    border: 0.5px solid #aaa;
    box-shadow: 0 0  5px #333;

    width:  50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, - 50%);
}

.modalContent button {
    width: 100%;
    background-color: rgb(179,213,235);
    border-radius: 2px;
    border: 1px solid rgb(159,200,255);
    padding: 5px;
    color: #333;
    cursor: pointer;
    outline: none;

}

.modalContent button:hover {
    background-color: rgb(200, 223, 243);
}